<!DOCTYPE html>
<html>
<body>

	<!-- navigation bar -->
	<div class="navbar-custom" data-th-fragment="menu">
		<div class="container">
			<div id="navigation">
				<!-- Navigation Menu-->
				<ul class="navigation-menu">
					<li class="has-submenu">
						<a href="#"><i class="md md-dashboard"></i>Dashboard</a>
						<ul class="submenu">
							<li><a href="index.html">Dashboard 01</a></li>
							<li><a href="dashboard_2.html">Dashboard 02</a></li>
						</ul>
					</li>
					<li class="has-submenu">
						<a href="#"><i class="md md-color-lens"></i>UI Kit</a>
						<ul class="submenu">
							<li><a href="ui-buttons.html">Buttons</a></li>
							<li><a href="ui-loading-buttons.html">Loading Buttons</a></li>
						</ul>
					</li>
					<li class="has-submenu">
						<a href="#"><i class="md md-layers"></i>Components</a>
						<ul class="submenu megamenu">
							<li>
								<ul>
									<li><span>Elements</span></li>
									<li><a href="components-grid.html">Grid</a></li>
									<li><a href="components-widgets.html">Widgets</a></li>
								</ul>
							</li>
							<li>
								<ul>
									<li><span>Forms</span></li>
									<li><a href="form-advanced.html">Advanced Form</a></li>
									<li><a href="form-validation.html">Form Validation</a></li>
								</ul>
							</li>
							<li>
								<ul>
									<li><span>Forms</span></li>
									<li><a href="form-mask.html">Form Masks</a></li>
									<li><a href="form-summernote.html">Summernote</a></li>
								</ul>
							</li>
						</ul>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="md md-class"></i>Other</a>
						<ul class="submenu">
							<li class="has-submenu">
								<a href="#">Tables</a>
								<ul class="submenu">
									<li><a href="tables-basic.html">Basic Tables</a></li>
									<li><a href="tables-datatable.html">Data Table</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">Charts</a>
								<ul class="submenu">
									<li><a href="chart-flot.html">Flot Chart</a></li>
									<li><a href="chart-morris.html">Morris Chart</a></li>
								</ul>
							</li>
						</ul>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="md md-pages"></i>Pages</a>
						<ul class="submenu megamenu">
							<li>
								<ul>
									<li><a href="page-starter.html">Starter Page</a></li>
									<li><a href="page-login.html">Login</a></li>
									<li><a href="page-register.html">Register</a></li>
								</ul>
							</li>
							<li>
								<ul>
									<li><a href="page-lock-screen.html">Lock Screen</a></li>
									<li><a href="page-400.html">Error 400</a></li>
									<li><a href="page-404.html">Error 404</a></li>
								</ul>
							</li>
						</ul>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="md md-folder-special"></i>Extras</a>
						<ul class="submenu megamenu">
							<li>
								<ul>
									<li><a href="extra-profile.html">Profile</a></li>
									<li><a href="extra-coming-soon.html">Coming-soon</a></li>
								</ul>
							</li>
							<li>
								<ul>
									<li><a href="extra-faq.html">FAQ</a></li>
									<li><a href="extra-gallery.html">Gallery</a></li>
								</ul>
							</li>
						</ul>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="md md-account-circle"></i>CRM</a>
						<ul class="submenu">
							<li><a href="crm-dashboard.html"> Dashboard </a></li>
							<li><a href="crm-customers.html"> Customers </a></li>
						</ul>
					</li>

					<li class="has-submenu">
						<a href="#"><i class="md md-shopping-cart"></i>eCommerce</a>
						<ul class="submenu">
							<li><a href="ecommerce-dashboard.html"> Dashboard</a></li>
							<li><a href="ecommerce-products.html"> Products</a></li>
						</ul>
					</li>
				</ul>
				<!-- End navigation menu        -->
			</div>
		</div>
		<!-- End container -->
	</div>
	<!-- End navbar-custom -->

</body>
</html>