<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />
<meta name="author" content="Coderthemes" />

<link rel="shortcut icon" href="files/images/favicon.ico" />

<title>Ubold - Responsive Admin Dashboard Template</title>

<link rel="stylesheet" href="files/css/bootstrap.min.css" />
<link rel="stylesheet" href="files/css/core.css" />
<link rel="stylesheet" href="files/css/components.css" />
<link rel="stylesheet" href="files/css/icons.css" />
<link rel="stylesheet" href="files/css/pages.css" />
<link rel="stylesheet" href="files/css/responsive.css" />

<script src="files/js/modernizr.min.js"></script>

</head>
<body>

	<div class="account-pages"></div>
	<div class="clearfix"></div>

	<div class="wrapper-page">
		<div class="ex-page-content text-center">
			<div class="text-error">
				<span class="text-primary">4</span>
				<span class="text-pink">0</span>
				<span class="text-info">0</span>
			</div>
			<h2>Bad Request</h2>
			<br />
			<p class="text-muted">Your browser sent an invalid request</p>
			<br />
			<a class="btn btn-default waves-effect waves-light" href="index.html"> Return Home</a>
		</div>
	</div>

	<script>
		var resizefunc = [];
	</script>

	<!-- jQuery  -->
	<script src="files/js/jquery.min.js"></script>
	<script src="files/js/bootstrap.min.js"></script>
	<script src="files/js/detect.js"></script>
	<script src="files/js/fastclick.js"></script>
	<script src="files/js/jquery.slimscroll.js"></script>
	<script src="files/js/jquery.blockUI.js"></script>
	<script src="files/js/waves.js"></script>
	<script src="files/js/wow.min.js"></script>
	<script src="files/js/jquery.nicescroll.js"></script>
	<script src="files/js/jquery.scrollTo.min.js"></script>

	<script src="files/js/jquery.core.js"></script>
	<script src="files/js/jquery.app.js"></script>

</body>
</html>